@model String
<html>
<head>
    <title>the Cantina chat server @Model</title>
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&display=swap" rel="stylesheet">
</head>
    <body style="display: flex; align-items: center; justify-content: center; font-family: Play, sans-serif">
        <div style="margin-top: -15vh;">
            <h1>The Cantina chat server is work.</h1>
            <p>@Model</p>
        </div>
    </body>
</html>